/* Enter your custom styles here */
.sapUi5VerticalSeparator {
    width: 1px;
    height: 2rem;
    background-color: #d9d9d9;
    margin: 0 0.5rem;
    align-self: center;
}

/* #__data7.sapMFlexItem {
    flex: 1 1 auto !important;
    min-height: 0 !important;
    height: 100% !important;
}

#__data3.sapMFlexItem {
    flex: 1 1 auto !important;
    min-height: 0 !important;
    height: 100% !important;
} */

.sapMFlexItem {
    flex: 1 1 auto !important;
    min-height: 0 !important;
    height: 100% !important;
    margin-right: 0.5% !important;
}